// #titlebar {
//     --background: linear-gradient(197deg, rgb(221, 213, 219) 0%, rgb(206, 147, 191) 13.5%, rgb(187, 110, 173) 33.33%, rgb(177, 42, 103) 100%) !important;
// }
.new-background-color {
    // --background: linear-gradient(197deg, rgba(228, 213, 204, 0.945) 0%, rgb(203, 152, 118) 13.5%, rgb(204, 131, 83) 33.33%, rgb(189, 127, 33) 100%) !important;
    --background: rgb(255, 165, 0);
}

ion-button {
    --color: black !important;
    --background: rgb(255, 165, 0);
}